/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace components "components.*";

.darkGreen {
    color: PropertyReference("darkGreen");
}

s|ToggleButton {
    skinClass: ClassReference("design.skins.FlatToggleButtonSkin");
    cornerRadius: 3;
}

s|TabBar {
    cornerRadius: 0;
    skinClass: ClassReference("design.skins.FlatTabBarSkin");
}

s|Button {
    cornerRadius: 3px;
    skinClass: ClassReference("design.skins.FlatButtonSkin");
    chromeColor: #bbd2c7;
    color: #00ac8d;
}

s|TextInput {
    fontSize: 14;
    fontFamily: "CenturyGothic";
    paddingLeft: 5;
    height: 25;
    focusSkin: ClassReference("design.skins.TextInputFocusSkin");
}

s|TextInput:normalWithPrompt {
    color: #000000;
    fontStyle: italic;
}

s|TitleWindow {
    skinClass: ClassReference("design.skins.TitleWindowSkin");
    borderColor: #464077;
}
